.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius:10px;
    border:none;
    cursor: pointer;
    color: blue;
}